*~
*.elc
.cask/
server/
elpa/
eshell/
.python-environments/
ido.last
.mc-lists.el
projectile-bookmarks.eld
projectile.cache
tramp
ac-comphist.dat
recentf
remote-moin
url/
custom.el
.emacs.desktop
.emacs.desktop.lock
/.org-id-locations
/smex-items
/abbrev_defs
/network-security.data
